#*.idea/**
*.svn*
*.settings*
*.class
target/**
*~
.svn*
.svn
.classpath
tmp/**
version.properties
build/**
bin/**
.classpath
logback.xml
config.properties
log4j.properties
test-output/**

# cinnamonBase does not need to be versioned as it's easy to generate
lib/cinnamonBase.jar